In [18]:
import pandas as pd
import json

In [20]:
df = pd.read_json("../data/songs_1.json")

In [9]:
df.columns

Index(['ts', 'username', 'platform', 'ms_played', 'conn_country',
       'ip_addr_decrypted', 'user_agent_decrypted',
       'master_metadata_track_name', 'master_metadata_album_artist_name',
       'master_metadata_album_album_name', 'spotify_track_uri', 'episode_name',
       'episode_show_name', 'spotify_episode_uri', 'reason_start',
       'reason_end', 'shuffle', 'skipped', 'offline', 'offline_timestamp',
       'incognito_mode'],
      dtype='object')

In [10]:
df.dtypes

ts                                    object
username                              object
platform                              object
ms_played                              int64
conn_country                          object
ip_addr_decrypted                     object
user_agent_decrypted                  object
master_metadata_track_name            object
master_metadata_album_artist_name     object
master_metadata_album_album_name      object
spotify_track_uri                     object
episode_name                          object
episode_show_name                     object
spotify_episode_uri                   object
reason_start                          object
reason_end                            object
shuffle                                 bool
skipped                              float64
offline                                 bool
offline_timestamp                      int64
incognito_mode                          bool
dtype: object

In [11]:
df_clean = pd.DataFrame()
df_clean['timestamp'] = pd.to_datetime(df['ts'])
df_clean['date'] = df_clean['timestamp'].dt.date
df_clean['artist'] = df['master_metadata_album_artist_name']
df_clean['track'] = df['master_metadata_track_name']
df_clean['ms_played'] = df['ms_played']

In [12]:
df_clean.columns

Index(['timestamp', 'date', 'artist', 'track', 'ms_played'], dtype='object')

ARTISTS

In [ ]:
most_listened_artists = df_clean.groupby(['artist'])['ms_played'].sum().reset_index().sort_values('ms_played', ascending=False)
most_listened_artists_count = df_clean.groupby(['artist']).size().sort_values(ascending=False).reset_index().rename(columns={0: 'count'})

               artist  count
0       Calvin Harris   1114
1    The Chainsmokers    929
2       Martin Garrix    594
3        Zara Larsson    483
4          Marshmello    436
..                ...    ...
624              HUTS      1
625        HOUNDTRACK      1
626           Gyptian      1
627     Ivan Cappello      1
628      Ilkay Sencan      1

[629 rows x 2 columns]

MOST LISTENED SONGS

In [ ]:
most_listened_songs = df_clean.groupby(['track', 'artist'])['ms_played'].sum().reset_index().sort_values('ms_played', ascending=False)
most_listened_songs_count = df_clean.groupby(['artist', 'track']).size().sort_values(ascending=False).reset_index().rename(columns={0: 'count'})

                artist                                       track  count
0     The Chainsmokers                                   Don't Say    138
1     The Chainsmokers                                      Closer    138
2     The Chainsmokers                    Something Just Like This    132
3         Charlie Puth  We Don't Talk Anymore (feat. Selena Gomez)    127
4          Justin Mylo                        I Wanna Fall In Love    126
...                ...                                         ...    ...
1387         Dallerium                                    Tell You      1
1388      Daler Mehndi                             Tunak Tunak Tun      1
1389      Daler Mehndi                               Bolo Ta Ra Ra      1
1390          DJ Snake          Let Me Love You - Marshmello Remix      1
1391         Deichkind                            Sonate in f-Doll      1

[1392 rows x 3 columns]

MOST DAYS AT NO1 ARTISTS

In [79]:
artist_daily_plays = df_clean.groupby(['date', 'artist'])['ms_played'].sum().reset_index()
most_streamed_per_day = artist_daily_plays.loc[artist_daily_plays.groupby('date')['ms_played'].idxmax()]
most_streamed_per_day_count = most_streamed_per_day.groupby('artist').size().sort_values(ascending=False)

MOST DAYS AT NO1 TRACKS

In [111]:
track_daily_plays = df_clean.groupby(['date', 'artist', 'track'])['ms_played'].sum().reset_index()
most_streamed_per_day = artist_daily_plays.loc[artist_daily_plays.groupby('date')['ms_played'].idxmax()]
most_streamed_per_day_count = most_streamed_per_day.groupby(['artist', 'track']).size().sort_values(ascending=False)