In [5]:
import pandas as pd
import json
import os
from decimal import Decimal,ROUND_HALF_UP

In [ ]:
def create_clean_dataframe(json_files):

    df_list = [pd.read_json('../data/'+json_file) for json_file in json_files]
    df = pd.concat(df_list, ignore_index=True)

    df_clean = pd.DataFrame()
    df_clean['timestamp'] = pd.to_datetime(df['ts'])
    df_clean['hour'] = df_clean['timestamp'].dt.hour
    df_clean['day'] = df_clean['timestamp'].dt.date
    df_clean["week"] = df_clean["timestamp"].dt.to_period("W")
    df_clean['month'] = df_clean['timestamp'].dt.to_period("M")
    df_clean['artist'] = df['master_metadata_album_artist_name']
    df_clean['track'] = df['master_metadata_track_name']
    df_clean['minutes'] = df['ms_played']/1000/60
    df_clean['minutes'] = df_clean['minutes'].apply(lambda x: Decimal(str(x)).quantize(Decimal('0.0001'), rounding=ROUND_HALF_UP))
    
    return df_clean

In [7]:

data_files = [f for f in os.listdir('../data') if f.endswith('.json')]
data_files

['Streaming_History_Audio_2020-2021_2.json',
 'Streaming_History_Audio_2017-2019_0.json',
 'Streaming_History_Audio_2019-2020_1.json',
 'Streaming_History_Audio_2023-2024_7.json',
 'Streaming_History_Audio_2021_3.json',
 'Streaming_History_Audio_2022-2023_6.json',
 'Streaming_History_Audio_2021-2022_4.json',
 'Streaming_History_Audio_2024_8.json',
 'Streaming_History_Audio_2022_5.json']

In [8]:
df_clean.dtypes

NameError: name 'df_clean' is not defined

In [11]:
df_clean = create_clean_dataframe(data_files)

/tmp/ipykernel_669079/3232988068.py:8: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_clean['hour'] = df_clean['timestamp'].dt.to_period("H")
/tmp/ipykernel_669079/3232988068.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_clean['hour'] = df_clean['timestamp'].dt.to_period("H")
/tmp/ipykernel_669079/3232988068.py:10: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_clean["week"] = df_clean["timestamp"].dt.to_period("W")
/tmp/ipykernel_669079/3232988068.py:11: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_clean['month'] = df_clean['timestamp'].dt.to_period("M")

In [12]:
df_clean

,timestamp,hour,day,week,month,artist,track,minutes
0,2020-08-31 17:52:16+00:00,2020-08-31 17:00,2020-08-31,2020-08-31/2020-09-06,2020-08,Young Thug,The London (feat. J. Cole & Travis Scott),3.3351
1,2020-08-31 17:54:52+00:00,2020-08-31 17:00,2020-08-31,2020-08-31/2020-09-06,2020-08,Juice WRLD,Blood On My Jeans,2.5795
2,2020-08-31 17:58:14+00:00,2020-08-31 17:00,2020-08-31,2020-08-31/2020-09-06,2020-08,Juice WRLD,Life's A Mess (feat. Halsey),3.3699
3,2020-08-31 18:00:14+00:00,2020-08-31 18:00,2020-08-31,2020-08-31/2020-09-06,2020-08,Tyla Yaweh,Tommy Lee (feat. Post Malone),1.9539
4,2020-08-31 18:00:15+00:00,2020-08-31 18:00,2020-08-31,2020-08-31/2020-09-06,2020-08,The Kid LAROI,GO (feat. Juice WRLD),0.0107
...,...,...,...,...,...,...,...,...
163214,2022-11-17 12:33:18+00:00,2022-11-17 12:00,2022-11-17,2022-11-14/2022-11-20,2022-11,Stephan Moccio,Fracture,1.2410
163215,2022-11-17 12:36:54+00:00,2022-11-17 12:00,2022-11-17,2022-11-14/2022-11-20,2022-11,Robert Schumann,"Kinderszenen, Op. 15: Träumerei (Arr. Lewin fo...",3.5967
163216,2022-11-17 13:00:00+00:00,2022-11-17 13:00,2022-11-17,2022-11-14/2022-11-20,2022-11,Adolphus Hailstork,3 Spirituals for Orchestra: No. 2. Kum Bab Yah,0.5901
163217,2022-11-17 19:37:32+00:00,2022-11-17 19:00,2022-11-17,2022-11-14/2022-11-20,2022-11,Joji,Glimpse of Us,0.6053
163218,2022-11-17 19:51:07+00:00,2022-11-17 19:00,2022-11-17,2022-11-14/2022-11-20,2022-11,Ludovico Einaudi,Fly,3.3347

In [31]:
df = pd.read_json("../data/Streaming_History_Audio_2017-2019_0.json")

In [37]:
for col in df.columns:
    print(col)
    print(df[col].unique()[:30])

ts
['2017-09-30T12:10:30Z' '2017-09-30T12:10:57Z' '2017-09-30T12:10:58Z'
 '2017-09-30T12:11:00Z' '2017-09-30T12:11:17Z' '2017-09-30T12:11:43Z'
 '2017-09-30T12:15:20Z' '2017-09-30T12:18:49Z' '2017-09-30T12:18:56Z'
 '2017-09-30T12:19:00Z' '2017-09-30T12:19:02Z' '2017-09-30T12:22:22Z'
 '2017-09-30T12:26:33Z' '2017-09-30T12:30:32Z' '2017-09-30T12:34:10Z'
 '2017-09-30T12:37:11Z' '2017-09-30T12:40:22Z' '2017-09-30T12:40:31Z'
 '2017-09-30T12:40:39Z' '2017-09-30T12:43:33Z' '2017-09-30T12:43:36Z'
 '2017-09-30T12:43:39Z' '2017-09-30T12:47:19Z' '2017-09-30T12:50:28Z'
 '2017-09-30T12:53:38Z' '2017-09-30T12:53:40Z' '2017-09-30T12:53:41Z'
 '2017-09-30T12:53:42Z' '2017-09-30T12:53:50Z' '2017-09-30T12:55:48Z']
platform
['Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)'
 'Windows 10 (10.0.14393; x64)' 'Windows 10 (10.0.16299; x64)'
 'Android OS 7.0 API 24 (HUAWEI, VTR-L09)' 'Windows 10 (10.0.17134; x64)'
 'Linux [x86-64 0]' 'web_player windows 10;chrome 71.0;desktop']
ms_played
[  3233  26120   1440    805  17252  25058 218320 209333   4989   3544
   1713 201000 250280 239000 216896 180822 188842   8171   7170 173353
   2690   3318 220454 189466 188270   1280    593    851   6448 119133]
conn_country
['ES' 'ZZ']
ip_addr
['90.94.106.196' '85.54.172.215' '37.29.141.62' '37.29.169.10'
 '46.222.149.105' '31.221.199.247' '31.221.226.254' '31.221.205.204'
 '37.29.177.135' '46.222.14.26' '31.221.178.204' '31.221.249.177'
 '46.222.31.157' '31.221.147.61' '37.29.129.48' '46.222.155.216'
 '31.221.155.212' '46.222.89.31' '46.222.92.23' '31.221.220.131'
 '31.221.186.54' '46.222.59.135' '46.222.226.58' '31.221.130.198'
 '31.221.134.58' '46.222.233.243' '37.29.187.171' '37.29.172.205'
 '31.221.139.188' '31.221.151.41']
master_metadata_track_name
['Intro' 'Stole the Show' 'Mi Gente' 'Me Rehúso' 'Báilame - Remix'
 'Te lo Digo a Ti' 'rockstar' 'New Rules' 'Too Good At Goodbyes - Edit'
 '1-800-273-8255' 'Dusk Till Dawn (feat. Sia) - Radio Edit'
 'Havana (feat. Young Thug)' 'Silence' 'Look What You Made Me Do'
 'What Lovers Do (feat. SZA)' 'Unforgettable' 'Sorry Not Sorry'
 'Glorious (feat. Skylar Grey)' 'Friends (with BloodPop®)' 'Bodak Yellow'
 'Thunder' 'Shape of You'
 'Feels (feat. Pharrell Williams, Katy Perry & Big Sean)'
 'Young Dumb & Broke' 'Jocelyn Flores' 'XO Tour Llif3' 'Attention'
 'Bank Account' 'Back to You (feat. Bebe Rexha & Digital Farm Animals)'
 'Without You (feat. Sandro Cavazza)']
master_metadata_album_artist_name
['Kygo' 'J Balvin' 'Danny Ocean' 'Nacho' 'Vetusta Morla' 'Post Malone'
 'Dua Lipa' 'Sam Smith' 'Logic' 'ZAYN' 'Camila Cabello' 'Marshmello'
 'Taylor Swift' 'Maroon 5' 'French Montana' 'Demi Lovato' 'Macklemore'
 'Justin Bieber' 'Cardi B' 'Imagine Dragons' 'Ed Sheeran' 'Calvin Harris'
 'Khalid' 'XXXTENTACION' 'Lil Uzi Vert' 'Charlie Puth' '21 Savage'
 'Louis Tomlinson' 'Avicii' 'Liam Payne']
master_metadata_album_album_name
['Cloud Nine' 'Mi Gente' 'Me Rehúso' 'Báilame' 'Te lo Digo a Ti'
 'rockstar' 'Dua Lipa' 'Too Good At Goodbyes' 'Hip Hop Hit List'
 'Dusk Till Dawn (feat. Sia)' 'Havana (feat. Young Thug)' 'Silence'
 'Look What You Made Me Do' 'What Lovers Do (feat. SZA)' 'Jungle Rules'
 'Sorry Not Sorry' 'GEMINI' 'Friends (with BloodPop®)' 'Bodak Yellow'
 'Evolve' '÷' 'Funk Wav Bounces Vol.1' 'American Teen' '17'
 'Luv Is Rage 2' 'Attention' 'Issa Album'
 'Back to You (feat. Bebe Rexha & Digital Farm Animals)' 'AVĪCI'
 'Strip That Down']
spotify_track_uri
['spotify:track:6bqHegYlJ2ihL0rw3uW65e'
 'spotify:track:5masKPHeAOVNgxdLebIcK7'
 'spotify:track:2rb5MvYT7ZIxbKW5hfcHx8'
 'spotify:track:6De0lHrwBfPfrhorm9q1Xl'
 'spotify:track:3VClLWqNn80Llv0PJOsKgr'
 'spotify:track:6QA7wmiqkVDd7pGvFONNal'
 'spotify:track:7wGoVu4Dady5GV0Sv4UIsx'
 'spotify:track:2ekn2ttSfGqwhhate0LSR0'
 'spotify:track:0mel2N9Ws9r4yLQn5QE21Y'
 'spotify:track:4IPJ7RwGyZW03OgJZbHTY9'
 'spotify:track:1j4kHkkpqZRBwE0A4CN4Yv'
 'spotify:track:0ofbQMrRDsUaVKq2mGLEAb'
 'spotify:track:7vGuf3Y35N4wmASOKLUVVU'
 'spotify:track:6uFsE1JgZ20EXyU0JQZbUR'
 'spotify:track:4mxWSdf71VFO52qFeY0fZt'
 'spotify:track:3B54sVLJ402zGa6Xm4YGNe'
 'spotify:track:25C5CowdsfXld2jJanbiex'
 'spotify:track:0CokSRCu5hZgPxcZBaEzVE'
 'spotify:track:7nZmah2llfvLDiUjm0kiyz'
 'spotify:track:2771LMNxwf62FTAdpJMQfM'
 'spotify:track:0tKcYR2II1VCQWT79i5NrW'
 'spotify:track:7qiZfU4dY1lWllzX7mPBI3'
 'spotify:track:5bcTCxgc7xVfSaMV3RuVke'
 'spotify:track:5Z3GHaZ6ec9bsiI5BenrbY'
 'spotify:track:7m9OqQk4RVRkw9JJdeAw96'
 'spotify:track:7GX5flRQZVHRAGd6B4TmDO'
 'spotify:track:4iLqG9SeJSnt0cSPICSjxv'
 'spotify:track:2fQrGHiQOvpL9UgPvtYy6G'
 'spotify:track:7F9vK8hNFMml4GtHsaXui6'
 'spotify:track:6WbADFqMvR8N5u0BvtsWQE']
episode_name
[None 'Raptors fire Casey'
 'Conference Finals and Lottery Preview, Plus De’Aaron Fox | Draft Class (Ep. 266)'
 'Who Is Luka Doncic? Plus: Victor Oladipo and Shaquille O’Neal | The Ringer NBA Show (Ep. 271)'
 "Finding 'A Room of One's Own' - Episode 30"
 'Los dos equipos que más pierden en la NBA son los que más ganan (Ep. 3)']
episode_show_name
[None 'Unsportsmanlike with Evan, Canty and Michelle'
 'The Ringer NBA Show' 'Classics Considered' 'El podcast de nbamaniacs']
spotify_episode_uri
[None 'spotify:episode:1FaB6zvoFXh5qb8tnWdlbm'
 'spotify:episode:5eiN60nc8NGpVFb1OKYlN5'
 'spotify:episode:562pI0DKL13Y4bg1WPNCWC'
 'spotify:episode:2jZjhXd44nfx5oytBpnMPL'
 'spotify:episode:1NcS1QY8yNAMQYNfLIq9VH']
reason_start
['clickrow' 'trackdone' 'fwdbtn' 'backbtn' 'appload' 'playbtn'
 'trackerror' 'remote']
reason_end
['endplay' 'trackdone' 'fwdbtn' 'backbtn' 'unexpected-exit-while-paused'
 'logout' 'unexpected-exit' 'remote' 'trackerror']
shuffle
[False  True]
skipped
[False]
offline
[False  True]
offline_timestamp
[           nan 1.50719178e+12 1.50719259e+12 1.50719314e+12
 1.50720222e+12 1.50747246e+12 1.50747248e+12 1.50747248e+12
 1.50763892e+12 1.50868449e+12 1.50870052e+12 1.50912072e+12
 1.50912112e+12 1.50913244e+12 1.50919825e+12 1.50919831e+12
 1.51032690e+12 1.51032714e+12 1.51161563e+12 1.51161734e+12
 1.51170347e+12 1.51335450e+12 1.51335473e+12 1.51335499e+12
 1.51335518e+12 1.51335575e+12 1.51335599e+12 1.51335587e+12
 1.51335563e+12 1.51335612e+12]
incognito_mode
[False]

In [ ]:
# df.head()

,ts,platform,ms_played,conn_country,ip_addr,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,episode_name,episode_show_name,spotify_episode_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
0,2017-09-30T12:10:30Z,"Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)",3233,ES,90.94.106.196,Intro,Kygo,Cloud Nine,spotify:track:6bqHegYlJ2ihL0rw3uW65e,None,None,None,clickrow,endplay,False,False,False,NaN,False
1,2017-09-30T12:10:57Z,"Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)",26120,ES,90.94.106.196,Stole the Show,Kygo,Cloud Nine,spotify:track:5masKPHeAOVNgxdLebIcK7,None,None,None,clickrow,endplay,False,False,False,NaN,False
2,2017-09-30T12:10:58Z,"Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)",1440,ES,90.94.106.196,Mi Gente,J Balvin,Mi Gente,spotify:track:2rb5MvYT7ZIxbKW5hfcHx8,None,None,None,clickrow,endplay,False,False,False,NaN,False
3,2017-09-30T12:11:00Z,"Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)",805,ES,90.94.106.196,Me Rehúso,Danny Ocean,Me Rehúso,spotify:track:6De0lHrwBfPfrhorm9q1Xl,None,None,None,clickrow,endplay,False,False,False,NaN,False
4,2017-09-30T12:11:17Z,"Android-tablet OS 7.0 API 24 (HUAWEI, VTR-L09)",17252,ES,90.94.106.196,Báilame - Remix,Nacho,Báilame,spotify:track:3VClLWqNn80Llv0PJOsKgr,None,None,None,clickrow,endplay,False,False,False,NaN,False

In [ ]:
# df.columns

In [ ]:
# df.dtypes

In [ ]:
# df_clean = pd.DataFrame()
# df_clean['timestamp'] = pd.to_datetime(df['ts'])
# df_clean['date'] = df_clean['timestamp'].dt.date
# df_clean['artist'] = df['master_metadata_album_artist_name']
# df_clean['track'] = df['master_metadata_track_name']
# df_clean['minutes'] = df['minutes']

In [ ]:
df_clean.columns

Index(['timestamp', 'date', 'artist', 'track', 'minutes'], dtype='object')

ARTISTS

In [ ]:
most_listened_artists = df_clean.groupby(['artist'])['minutes'].sum().reset_index().sort_values('minutes', ascending=False)
most_listened_artists_count = df_clean.groupby(['artist']).size().sort_values(ascending=False).reset_index().rename(columns={0: 'count'})

MOST LISTENED SONGS

In [ ]:
most_listened_songs = df_clean.groupby(['track', 'artist'])['minutes'].sum().reset_index().sort_values('minutes', ascending=False)
most_listened_songs_count = df_clean.groupby(['artist', 'track']).size().sort_values(ascending=False).reset_index().rename(columns={0: 'count'})

MOST DAYS AT NO1 ARTISTS

In [ ]:
artist_daily_plays = df_clean.groupby(['date', 'artist'])['minutes'].sum().reset_index()
most_streamed_per_day = artist_daily_plays.loc[artist_daily_plays.groupby('date')['minutes'].idxmax()]
most_streamed_per_day_count = most_streamed_per_day.groupby('artist').size().sort_values(ascending=False).reset_index().rename(columns={0: 'days at 1'})

most_streamed_per_day_count

                    artist  days at 1
0         Ludovico Einaudi         80
1               Kanye West         56
2             XXXTENTACION         52
3                   Eminem         52
4    Red Hot Chili Peppers         52
..                     ...        ...
523             half•alive          1
524                  iZaak          1
525                    Aer          1
526              Aerosmith          1
527              Akapellah          1

[528 rows x 2 columns]

MOST DAYS AT NO1 TRACKS

In [9]:
track_daily_plays = df_clean.groupby(['date', 'artist', 'track'])['minutes'].sum().reset_index()
most_streamed_per_day = artist_daily_plays.loc[artist_daily_plays.groupby('date')['minutes'].idxmax()]
most_streamed_per_day_count = most_streamed_per_day.groupby(['artist', 'track']).size().sort_values(ascending=False)

NameError: name 'df_clean' is not defined

In [21]:
df_clean.columns

Index(['timestamp', 'date', 'calendar_week', 'artist', 'track', 'minutes'], dtype='object')

In [ ]:
df_clean.artist.unique()

array(['Young Thug', 'Juice WRLD', 'Tyla Yaweh', ..., 'Philip', 'Domingo',
       'Adolphus Hailstork'], shape=(8151,), dtype=object)

In [ ]:
df_clean.track.unique()

array(['The London (feat. J. Cole & Travis Scott)', 'Blood On My Jeans',
       "Life's A Mess (feat. Halsey)", ...,
       'Satie / Orch. Ducros: Gymnopédie No. 1',
       'Kinderszenen, Op. 15: Träumerei (Arr. Lewin for Guitar)',
       '3 Spirituals for Orchestra: No. 2. Kum Bab Yah'],
      shape=(22850,), dtype=object)

In [22]:
df_clean

,timestamp,date,calendar_week,artist,track,minutes
0,2020-08-31 17:52:16+00:00,2020-08-31,2020-08-31/2020-09-06,Young Thug,The London (feat. J. Cole & Travis Scott),3.3351
1,2020-08-31 17:54:52+00:00,2020-08-31,2020-08-31/2020-09-06,Juice WRLD,Blood On My Jeans,2.5795
2,2020-08-31 17:58:14+00:00,2020-08-31,2020-08-31/2020-09-06,Juice WRLD,Life's A Mess (feat. Halsey),3.3699
3,2020-08-31 18:00:14+00:00,2020-08-31,2020-08-31/2020-09-06,Tyla Yaweh,Tommy Lee (feat. Post Malone),1.9539
4,2020-08-31 18:00:15+00:00,2020-08-31,2020-08-31/2020-09-06,The Kid LAROI,GO (feat. Juice WRLD),0.0107
...,...,...,...,...,...,...
163214,2022-11-17 12:33:18+00:00,2022-11-17,2022-11-14/2022-11-20,Stephan Moccio,Fracture,1.2410
163215,2022-11-17 12:36:54+00:00,2022-11-17,2022-11-14/2022-11-20,Robert Schumann,"Kinderszenen, Op. 15: Träumerei (Arr. Lewin fo...",3.5967
163216,2022-11-17 13:00:00+00:00,2022-11-17,2022-11-14/2022-11-20,Adolphus Hailstork,3 Spirituals for Orchestra: No. 2. Kum Bab Yah,0.5901
163217,2022-11-17 19:37:32+00:00,2022-11-17,2022-11-14/2022-11-20,Joji,Glimpse of Us,0.6053
163218,2022-11-17 19:51:07+00:00,2022-11-17,2022-11-14/2022-11-20,Ludovico Einaudi,Fly,3.3347

In [26]:
df_clean
# Generate a complete range of weeks from the minimum to the maximum week in the data
all_weeks = pd.period_range(start=df_clean['calendar_week'].min(), end=df_clean['calendar_week'].max(), freq='W')

# Create a DataFrame with all weeks
all_weeks_df = pd.DataFrame(all_weeks, columns=['calendar_week'])

# Merge with the original DataFrame to fill missing weeks
df_clean = all_weeks_df.merge(df_clean, on='calendar_week', how='left')

In [ ]:
df_clean

,calendar_week,timestamp,date,artist,track,minutes
0,2017-09-25/2017-10-01,2017-09-30 12:10:30+00:00,2017-09-30,Kygo,Intro,0.0539
1,2017-09-25/2017-10-01,2017-09-30 12:10:57+00:00,2017-09-30,Kygo,Stole the Show,0.4353
2,2017-09-25/2017-10-01,2017-09-30 12:10:58+00:00,2017-09-30,J Balvin,Mi Gente,0.0240
3,2017-09-25/2017-10-01,2017-09-30 12:11:00+00:00,2017-09-30,Danny Ocean,Me Rehúso,0.0134
4,2017-09-25/2017-10-01,2017-09-30 12:11:17+00:00,2017-09-30,Nacho,Báilame - Remix,0.2875
...,...,...,...,...,...,...
163215,2024-12-09/2024-12-15,2024-12-12 22:20:19+00:00,2024-12-12,21 Savage,ball w/o you,0.0224
163216,2024-12-09/2024-12-15,2024-12-12 22:22:29+00:00,2024-12-12,DJSM,Sweat,2.2116
163217,2024-12-09/2024-12-15,2024-12-12 22:24:49+00:00,2024-12-12,Cecilio G.,15,2.3993
163218,2024-12-09/2024-12-15,2024-12-12 22:28:19+00:00,2024-12-12,Billy Joel,Vienna,3.5707
163219,2024-12-09/2024-12-15,2024-12-12 22:38:46+00:00,2024-12-12,Myke Towers,LA FALDA,0.4683